body {
    background-image: url('image01.png');
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 5px;
    position:absolute;
    top: 20px;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    text-align: center;
    color: #000000;
}


.navbar {
    /* display: flex; */
   padding : 20px 30px;
   margin : 5px ;
   color : black;
   padding: auto;
   border-color: #a3bae0;
}
  
 
#button1 {
    line-height: 12px;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top: 35px;
    right: 200px;
    width: 130px;
    height: 30px;
    border: rgba(255, 255, 255, 0.22) solid 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.22);
}

#button2 {
    line-height: 12px;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    border: rgba(255, 255, 255, 0.22) solid 1px;
    top: 35px;
    right: 50px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.22);
}

.row {
    margin-left: 130px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.3s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: center;
    margin-top: 400px;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}