body {
    padding: 20px 150px;
    background-color: #5F9DF7;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    background-color: #ffffff;
    border-radius: 50px;
}
  

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1363DF;
    text-decoration: underline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    margin-bottom: 0;
}

.qustions-div {
    margin-top: 26px;
    font-family: 'Montserrat', sans-serif;
}

ol {
    margin-top: 10px;
    padding-left: 30px;
}

button {
    background: #ffffff;
    border-radius: 20px;
    color: #000000;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    padding: 20px;
    box-shadow: 1px 1px 2px 0 #000000;
    border: solid #1363DF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: #1363DF ;
}
 
button:hover {
    border: solid #1363DF 1px;
    background: #1363DF;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    outline: #ffffff;
}

.button-container {
    text-align: center;
    margin: auto;
}